#card1 {
     
    border: solid green; 
    color: white; 
    border-radius: 30px; 
    font-family: 'Poppins', sans-serif;
}
#card2 {
     
    border: solid red; 
    color: white; 
    border-radius: 30px; 
    font-family: 'Poppins', sans-serif;
}
#card3 {
     
    border: solid blue; 
    color: white; 
    border-radius: 30px; 
    font-family: 'Poppins', sans-serif;
}